<launch>
    
    <!-- imu old
    <include file="$(find witmotion_ros)/launch/wt901.launch"/>
        <node pkg="ros1-driver" type="ros1-driver" name="my_ros1_driver_node" output="screen"/>
    <param name="port" value="/dev/ttyUSB0"/-->
    
    <include file="$(find xsens_mti_driver)/launch/xsens_mti_node.launch"/>
    
    
    <!-- sonar -->
    <node name="rosserial" pkg="rosserial_arduino" type="serial_node.py" output="screen">
        <param name="port" value="/dev/ttyACM0"/>
        <param name="baud" value="57600"/>
    </node>

    <!-- logger -->
    <arg name="logger_start_delay" default="21.0"/> 
    <!-- cpp logger -->
    <node name="logger" pkg="logger" type="two_sonar_logger_2" launch-prefix="bash -c 'sleep $(arg logger_start_delay); $0 $@' " output="screen">
        <param name="csv_path" value="/home/uwr/Desktop/two_sonar_"/>
        <param name="tof_value" value="false" type="bool"/>
    </node>
    
</launch>
