<launch>



    <node name="data_feed" pkg="kalman_filter" type="old_data_reader.py" output="screen">
    <param name="csv_path" value="7"/>
    </node>
    <node name="kalman_filter" pkg="kalman_filter" type="kalman_filter_v2" output="screen">
    <param name="csv_path" value="/home/uwr/Desktop/dataset8_"/>
    </node>

</launch>
