<launch>




<!-- sonar -->
    <node name="rosserial" pkg="rosserial_arduino" type="serial_node.py" output="screen">
        <param name="port" value="/dev/ttyACM0"/>
        <param name="baud" value="57600"/>
    </node>

    <!-- imu -->
        <include file="$(find xsens_mti_driver)/launch/xsens_mti_node.launch"/>


</launch>
