<launch>


    <!-- imu >
    <include file="$(find witmotion_ros)/launch/wt901.launch"/>
    <param name="port" value="/dev/ttyUSB0"/-->
    
    <node pkg="ros1-driver" type="ros1-driver" name="my_ros1_driver_node">
    <param name="B" value="115200" />
    <param name="D" value="/dev/ttyUSB0" />
    <param name="s" value="199.184.151.36" />
    <param name="m" value="RTK_SNYU_GPS" />
    <param name="u" value="MHUART01" />
    <param name="p" value="1P9WTPJKZANK" />
    </node>

    <!-- sonar -->
    <node name="rosserial" pkg="rosserial_arduino" type="serial_node.py" output="screen">
        <param name="port" value="/dev/ttyUSB1"/>
        <param name="baud" value="115200"/>
    </node>
    
    <node name="kalman_filter" pkg="kalman_filter" type="kalman_filter_node" output="screen">
    <param name="csv_path" value="/home/abubakr/Desktop/all_log_"/>
    </node>

</launch>
