<launch>


    <!-- imu -->
    <include file="$(find realsense_cam)/launch/rs_camera.launch"/>

    <!-- sonar -->
    <arg name="sonar_start_delay" default="2.0" /> 
    <node name="sonar" pkg="sonar" type="sonar_node" launch-prefix="bash -c 'sleep $(arg sonar_start_delay); $0 $@' ">
        <param name="sonar_port" value="/dev/ttyUSB0"/>
        <param name="mode" value="distance"/>
        <param name="ping_interval" value="250"/>
    </node>
    <node name="kalman_filter" pkg="kalman_filter" type="kalman_filter_node" output="screen">
    <param name="csv_path" value="/home/saab/Desktop/all_log_"/>
    </node>

</launch>
